:root {
  --clr-background: white;
  --clr-foreground: black;
  --input-background-color: #ffffff;
  --input-text-color: #333333;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-color: hsla(0, 0%, 0%, 0.1);
  --thumb-default: #999;
  --thumb-hover: hsla(255, 0%, 0%, 0.3);
}

* {
  box-sizing: border-box;
}

html[color-scheme='dark'] {
  --clr-background: black;
  --clr-foreground: rgba(255, 255, 255, 0.9);
  --input-background-color: #333333;
  --input-text-color: #ffffff;
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --border-color: hsla(255, 100%, 100%, 0.1);
  --thumb-default: #666666;
  --thumb-hover: hsla(255, 0%, 0%, 0.3);
}

body {
  background: var(--clr-background);
  color: var(--clr-foreground);
  font-family: 'Inter', sans-serif;
  background: black;
}

/* 
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}*/

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-default);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}
