input[type="range"].slider {
  -webkit-appearance: none;
  -moz-appearance: none; 
  background: transparent;

  &::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;

    background: rgba(255,0,0,.5);
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;

    border-radius: 5px;
    background: rgba(255,0,0,.5);
  }

  /* For WebKit (Chrome, Safari) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    cursor: pointer;
    border-radius:50%;
    border: 2px solid yellow;
    background: #666;
    width: 15px;
    height: 15px;
  }

  /* For Firefox */
  &::-moz-range-thumb {
    -moz-appearance: none;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid yellow;
    background: #666;
    width: 15px;
    height: 15px;
  }
}




   